/* src/styles.css */

/* Light Mode */
body.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  --navbar-bg: #f8f9fa;
  --navbar-text: #000000;
}

body.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --navbar-bg: #333333;
  --navbar-text: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  background-color: var(--navbar-bg);
}

.navbar-nav .nav-link {
  color: var(--navbar-text);
}
